---
---

@import "{{ site.theme }}";

.gallery {
  position: relative;
  width: 33%;
  padding-top: 33%;
  float: left;
}

.gallery .glslCanvas {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.demo {
  position: relative;
  width: 50%;
  padding-top: 50%;
  margin: 5% 25%;
}

.demo .glslCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
