---
---

@import "{{ site.theme }}";

.gallery {
  position: relative;
  width: 33%;
  padding-top: 33%;
  float: left;
}

.glslCanvas {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-style: solid;
    border-width: 1px;
}
