---
---

@import "{{ site.theme }}";

.gallery {
  position: relative;
  width: 20%;
  padding-top: 20%;
  margin: 10%
  float: left;
}

.glslCanvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
